<div class="spacex-container">
    <h3>SpaceX Launch Programs</h3>
    <div class="spacex-container-body">
        <div class="spacex-filter-facets">
            <app-spacex-filter-facet-component
                [launchYears]="launchYears"
            ></app-spacex-filter-facet-component>
        </div>
        <div class="spacex-launch-card-results">
            <div *ngFor="let cardData of launchData">
                <app-spacex-launch-card-component
                    [cardData]="cardData"
                ></app-spacex-launch-card-component>
            </div>
        </div>
    </div>
</div>