/**Media Query**/
$screen-xs-min: 375px;
$screen-xs-max: 700px;
$screen-sm-min: 701px;
$screen-sm-max: 1024px;
$screen-lg-min: 1025px;
$screen-lg-max: 1440px;

/** spacer **/
$spacer-multiplier: 8px;
